<div class="alert alert-success">
  <strong class="welcome">Welcome <%= current_user.first_name%>!</strong>
</div>

<div class="container-fluid">
  <div class="mentor-info-container">
    <%= image_tag(@mentor.avatar.url(:medium), class:"mentor-picture")%>

    <div class="av-button">
      <%if @user.is_mentor %>

      <label class="switch", id="your_id">
            <input type="checkbox"  <%= current_user.mentor_info.availability ? "checked": ""%>>
            <span class="slider round", id="circle"></span>
        </label>
      <% else %>
        <%= render 'bookings/new' %>
      <%end%>
    </div>

    <% if @mentor.mentor_info %>
    <h3>Summary:</h3> <%= @mentor.mentor_info.summary %><br>
    <ul class="mentorcats">
      <% @mentor.subcategories.each do |subcat| %>
        <li><%= subcat.name %></li>
      <% end %>
    </ul>
    <% end %> <br>

  </div>

  <div class="student-details">

    <% if current_user.is_mentor  %>
      <%= render "mentor_bookings", bookings: current_user.mentor_bookings %>
    <%end%>



  </div>
</div>
