<h1><%= @subcategory.name %> </h1>

<div class="mentor_info">
  <div class="row">
    <% near_me(@subcategory).each do |mentor| %>
      <%if mentor.mentor_info.availability == true%>
      <div class="card" >
                <%= image_tag mentor.avatar.url(:medium), class: "card-img-top", height: "300px"%>
        <div class="card-body">
          <h4 class="card-title"><%= link_to mentor.first_name, mentor_info_path(mentor.id) %></h4>
          <p class="card-text"> <%=mentor.mentor_info.summary%></p>
          <%= link_to "Profile", mentor_info_path(mentor.id), class: "btn btn-primary" %>
        </div>
      </div>

      <%end%>
    <%end%>
   </div>
 </div>
