<header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <%= link_to "Kaizen", categories_path, class: "navbar-brand" %>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

<% if logged_in? %>
  <% if current_user.is_mentor == false%>

    <li class="nav-item">
    <%= link_to "Book A Mentor", categories_path, class: "nav-link" %>
    </li>

    <li class="nav-item">
      <%= link_to "Profile", current_user, class: "nav-link"%>
    </li>
  <%end%>

  <% if current_user.is_mentor %>

    <li class="nav-item">
      <%= link_to "Profile", mentor_info_path(current_user.mentor_info.id), class: "nav-link" %>
    </li>

    <li class="nav-item">
      <%= link_to "Edit", edit_mentor_info_path(current_user.mentor_info.id), class: "nav-link" %>
    </li>



  <% end %>


    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
    notification <span class="number-notifications">  </span>
  </a>
</li>


<li class="nav-item">
  <%= link_to "Log Out", logout_path, method: :delete, class: "nav-link" %>
</li>
<% else%>
  <li class="nav-item">
    <%= link_to "Log In", login_path, class: "nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to "Sign Up", signup_path, class: "nav-link" %>
  </li>


<% end%>


    </ul>
  </div>
</nav>
    </ul>
  </div>
</header>
